body {
  background-image: url("w2.jpg");
  background-attachment: fixed;
  margin: 0;
}
.icon {
  background-color: rgb(4, 10, 0);
  position: fixed;
  width: 50px;
  height: 100vb;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}
.inlin:nth-of-type(1) {
  height: 80vh;
}
.inlin:nth-of-type(2) {
  height: 20vh;
}
.inlin > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.inlin > ul > li > a {
  display: flex;
  flex-direction: row;
  margin: 15px 15px;
  text-decoration: none;
}
.inlin > ul > li > a > i {
  font-size: 30px;
  text-decoration: none;
  color: blanchedalmond;
}
.txt {
  margin-left: 20px;
  font-size: 20px;
  overflow: hidden;
  color: aliceblue;
}
.flex {
  padding: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
}
.flex div {
  background-color: rgb(185, 192, 192);
  margin: 3px;
  border-radius: 10px;
}
.img {
  width: 430px;
  height: 230px;
}
.top {
  color: blueviolet;
  line-height: 10px;
  letter-spacing: 5px;
  text-indent: 10px;
}
.box {
  text-align: justify;
  padding: 10px;
}
.icon:hover {
  width: 180px;
}
